body{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header{
    background-color: #1F2937;
    padding: 15px;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 20px;
    border: 1px solid #3882F6;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.container{
    display: flex;
    margin: 100px 0px;
}

.left{
    flex: 1;
    margin-right: 50px;
}

.right{
    background-color: gray;
    flex: 1;
}

.headerContainer{
    margin: 0 400px;
    display: flex;
    flex-direction: column;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.nav div{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

li a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 24px;
}

.heroText{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.subtext{
    font-size: 18px;
    color: #E5E7EB;
    margin: 24px 0px;
}

.section1{
    background-color: #F9FAF8;
}

.section1Header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 50px 0px;
    text-align: center;
}

.illustrations{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 100px;
}

.illustration{
    border: solid 4px #3882F6;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.illustration-subtext{
    color: #1F2937;
    text-align: center;
    margin-top: 15px;
}

.illustration-container{
    width: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
